@define-color background              #fbf1c7;
@define-color foreground							#665c54;
@define-color foreground-darker				#3c3836;
@define-color red                     #cc241d;
@define-color green                   #98971a;
@define-color yellow                  #d79921;
@define-color dim                     #928374;
@define-color active				          #ebdbb2;
@define-color visible									#665c54;

* {
  font-family: Input, "Fira Code Nerd Font";
  font-size: 15px;
  min-height: 0;
}

#waybar {
	padding: 0px 0px;
}

window#waybar {
	background-color: transparent;
}

window#waybar > box {
	border-radius: 5px;
	margin: 5px 5px 5px 5px;
	box-shadow: 0px 0px 3px 0px rgba(28, 28, 28, 0.7);
	background: @background;
	color: @foreground;
	transition-property: background-color;
	transition-duration: 0.5s;
}

#workspaces button {
  padding: 0 10px;
  background: transparent;
	color: @dim;
  border-bottom: 1px solid transparent;
	border-radius: 0;
}

#workspaces button.visible {
}

#workspaces button.active {
	border-bottom: 2px solid @dim;
	color: @foreground-darker;
}

#workspaces button.focused {
  border-bottom: 3px solid @green;
	color: @foreground-darker;
}

#workspaces button.urgent {
  border-bottom: 3px solid @yellow;
	color: @red;
}

#mode {
  border-bottom: 3px solid @red;
}

#battery.warning,
#disk.warning,
#memory.warning,
#cpu.warning,
#battery.critical,
#disk.critical,
#memory.critical,
#cpu.critical {
  border-top: 3px solid @background;
  border-bottom: 3px solid @red;
}

#battery.charging {
  border-top: 3px solid @background;
  border-bottom: 3px solid @green;
}

#mode,
#pulseaudio,
#network,
#cpu,
#disk,
#memory,
#backlight,
#notification,
#battery,
#clock {
  padding: 0 3px;
  margin: 0 3px;
}

#language {
  padding: 0;
  margin: 0 6px;
}

#tray {
  margin-left: -1000000px;
}

